

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.content{
    .costuri{
        width: 50%;
        margin: 5em auto;
    }

    .constante{
        width: 50%;
        margin: 5em auto;
    }
    .tg{
        width: 50%;
        margin: 5em auto;
    }

    .chart{
        width: 60em;
        margin: 2em auto;
    }
}