



<h1 class="text-center">Previziuni scalare</h1>
<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Primul An (România)</span>
				<span class="time-wrapper"><span class="time">2023 - 2024</span></span>
			</div>
			<div class="desc">My current employment. Way better than the position before!</div>
		</div>
	</li>
  
	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Urmatorii cinci ani (Europa)</span>
				<span class="time-wrapper"><span class="time">2024 - 2029</span></span>
			</div>
			<div class="desc">My first employer. All the stuff I've learned and projects I've been working on.</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Urmatorii zece ani (Global)</span>
				<span class="time-wrapper"><span class="time">2029 - 2039</span></span>
			</div>
            <div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
			<div class="desc red">A description of all the lectures and courses I have taken and my final degree?</div>
		</div>
	</li>
  
</ul>

