



<h1 class="text-center">Previziuni scalare</h1>
<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Primul An (România)</span>
				<span class="time-wrapper"><span class="time">2023 - 2024</span></span>
			</div>
			<div class="desc">
				<ul>
					<li>Furaje animale</li>
					<li>Controlul populatiei prin inserarea insectelor sterile in natura</li>
					<li>Controlul biologic prin introducerea insectelor care se hranesc exclusiv cu insectele daunatoare</li>
					<li>Ingrasaminte</li>
				</ul>
			</div>
		</div>
	</li>
  
	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Urmatorii cinci ani (Europa)</span>
				<span class="time-wrapper"><span class="time">2024 - 2029</span></span>
			</div>
			<div class="desc">
				<ul>
					<li>Industria farmaceutica</li>
					<li>Suplimente alimentare</li>
					<li>Textile</li>
					<li>Apicultura</li>
					<li>Piscicultura</li>
					<li>Coloranti + Conservanti</li>
				</ul>
			</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Urmatorii zece ani (Global)</span>
				<span class="time-wrapper"><span class="time">2029 - 2039</span></span>
			</div>
            <div class="desc right">
				<ul>
					<li>Hrana oameni</li>
					<li>Dizolvare plastic</li>
					<li>Industria textila de nisa (KEVLAR)</li>
					<li>Research & Development (R&D)</li>
					
				</ul>
				<div class="desc red">
					<p class="p-red">În viitor, vom modifica genetic speciile de insecte  pentru optimizarea calităților nutritive.</p>
				</div>
			</div>
			
		</div>
	</li>
</ul>



<app-footer></app-footer>