
:host {  
    width: 16em;
    margin: 15px;
}


.card{
    width: 16em;
    // border: 1px solid black;
    box-shadow: 1px 1px 5px rgb(113, 113, 113);
    transition: 0.2s;
    margin: 2em;
    scale:1;
    h2{
        font-size: 1.2em;
    }
    img{
        max-height: 16em !important;
        object-fit: cover;
    }

    &:hover{
        transition: all 0.2s ease-out;
        box-shadow: 1px 1px 10px rgb(98, 98, 98);
        scale:1.1;
    }
}

.mat-mdc-card-content{
    background-color: rgb(255, 255, 255) !important;
}
