.poze{
    display: flex;
    padding: 5em;
    img{
        width: 200px;
        margin: 0 auto;
    }
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
  }
