img{
    width: 170px;
}

nav{
    padding: 0.5em 20px;
    background-color: #8EC3B0 !important;
}

.nav-link-custom{
    text-decoration: none;
    margin: 5px;
    color: gray;
    .active{
        color: black !important;
    }
}
.nav-link-custom .active{
    color: black !important;
}