

<div>
    <div class="container d-flex flex-row position-absolute top-50 start-50 translate-middle">
        
        <div class="info ">
            <h2>Informatii de contact!</h2>
            <h4>Numar de telefon: +40745 234 567</h4>
            <h4>Adresa de email: contact@insectus.ro</h4>
            <h4>Locatie: str. Aleea Studentilor nr. 2000</h4>
    
    
            <h2 class="social">Social-media</h2>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        
    
        <div>
            <img class="contactImg" src="../../../assets/logo-removebg-preview.png" alt="logo"/>
        </div>
    
    </div>
</div>
