

<div class="top-part d-flex flex-row align-items-center">
    <div class="text ">
        <h2>Probleme</h2>
        <p>Populația lumii crește la o rată exponențială. Aceasta înseamnă că în fiecare secundă 3
            nou-născuți vor pune piciorul pe această planetă și vor avea nevoie de hrană de înaltă calitate pentru a supraviețui. Deși
            populația umană nu poate crește exponențial pentru totdeauna, este cu siguranță nevoie de tot mai multă hrană
            pentru a hrăni pe toată lumea de pe planetă. În plus, piața alimentară este foarte distorsionată, în funcție de locul în care trăiți pe planetă. Este destul de ciudat că există zone în care există șanse mai mari de a muri
            din obezitate, și zone în care oamenii mor din cauza lipsei de mâncare. Mai mult, istoria ne-a arătat că chiar și zonele civilizate pot fi afectate de o lipsă de alimente,
            întrucât circumstanțele externe precum clima și bolile sunt în afara controlului nostru. Nu încape vorbă
            că noi, ca ființe umane, ne confruntăm cu cea mai mare provocare a secolului. Focarul de Covid-19
            s-a transformat într-o pandemie cu o rată fără precedent. Pierderi economice majore și scăderi ale veniturilor
            vor reprezenta un risc imens pentru securitatea alimentară. În plus, comerțul cu alimente este compromis din cauza frontierelor de închidere. Se preconizează că recesiunea actuală va dura mult mai mult, chiar și în cazul economiilor dezvoltate. Cu o foamete tot mai mare în lume în următorii ani, este nevoie mai mult decât oricând de soluții fezabile.</p>
    </div>
    <img src="../../../assets/schema.jpeg" alt="schema">
</div>

<div class="bottom-part">
    <h1>UE 2016</h1>
    <p>Modelul nostru de afacere propune utilizarea insectelor ca soluții multifuncționale în industrii precum agricultură, farmaceutică, textilă. Uniunea Europeană a aprobat în anul 2016 introducerea consumului de insecte în dieta animalelor datorită avantajelor pe care le prezintă față de cereale și alte alimente, precum: costul scăzut de producere, economisirea de resurse (apă, căldură, spațiu), înmulțirea foarte rapidă și calitatea proteinelor din acestea. Aceste beneficii explică de ce două companii din Franța și Olanda au obținut finanțări de eproximativ 500 de milioane de euro.</p>
</div>

<app-footer></app-footer>