
.top-part{
    padding: 5em 8em;

    // .text{

    // }
    img{
        width: 500px;
        margin-left: 5em;
    }
    span{
        color: red;
    }
}

.bottom-part{
    background-color: #8EC3B0;
    padding: 4em 6em;
}
  