

<div class="top-part d-flex flex-row align-items-center">
    <div class="text ">
        <h2>Probleme</h2>
        <p><span>Creșterea accelerată a populației.</span> Suntem 8 miliarde de oameni pe Pământ, un nou record stabilit recent, iar acest număr va continua să crească. Până în 2057 populația lumii va crește la 10 miliarde, iar acest fapt provoacă îngrijorare, în special din cauza deficitului de hrană din anumite zone geografice. Avem nevoie urgent de o sursă de hrană calitativă, accesibilă, și care folosește eficient resursele planetei. Insectele sunt soluția noastră!
            Greierii, viermii, muștele și cărăbușii sunt surse de proteine de calitate, surse de aminoacizi, fier, calciu, vitamina B3, B6 și altele.</p>
    </div>
    <img src="../../../assets/schema.jpeg" alt="schema">
</div>

<div class="bottom-part">
    <h1>UE 2016</h1>
    <p>Modelul nostru de afacere propune utilizarea insectelor ca soluții multifuncționale în industrii precum agricultură, farmaceutică, textilă. Uniunea Europeană a aprobat în anul 2016 introducerea consumului de insecte în dieta oamenilor datorită avantajelor pe care le prezintă față de cereale și alte alimente, precum: costul scăzut de producere, economisirea de resurse (apă, căldură, spațiu), înmulțirea foarte rapidă și calitatea proteinelor din acestea. Aceste beneficii explică de ce două companii din Franța și Olanda au obținut finanțări de eproximativ 500 de milioane de euro.</p>
</div>

<app-footer></app-footer>