
<div class="top-part d-flex flex-row ">
  <div class="top-text">
      <h1>Clientii nostri!</h1>
      <p>România, Bulgaria și Polonia sunt pieţe importante pentru viitor. În ceea ce priveşte integrarea ingredientelor pe bază de insecte în dietă, acest pas este un proces mai dificil, în primă instanţă zonele de interes fiind acelea de hrană a animalelor de companie sau a animalelor de fermă – pui, porci ori ca fertilizant pentru plante.</p>
    </div>
  
  <img src="../../../assets/gif.gif" alt="">
</div>

<div class="content">

  <div class="profil">
    <h2>Profilul Clientului</h2>
    <p> Clienții noștri vor fi marile companii care activează în domeniul agriculturii și creșterii animalelor, dar și persoanele fizice: fermieri, pescari, grădinari.  Ei sunt antreprenori cu o vârstă cuprinsă între 25 și 65 de ani, locuiesc preponderent în mediul rural, sunt pasionați de agricultură, creșterea animalelor sau piscicultură. Aceștria își doresc să ofere animalelor o hrană calitativă, bogată în vitamine, minerale și proteine la un preț cât mai avantajos.</p>
  </div>

  <div class="analiza">
    <h2>Analiza</h2>
    <p>Pentru a ne optimiza modelul de afacere și a rezolva probleme reale din lumea reală, am realizat un studiu de piață care a inclus elaborarea și distribuirea unui chestionar și discuții cu potențialii clienți. În urma colectării feedback-ului oamenilor de afaceri din industria agri, au rezultat următoarele concluzii. </p>
  </div>

  <div class="pie">
    <div class="pie-content">
      <h1>Solutia noastra</h1>
      <app-pie-chart [pieChartData]="pieCharts.get('Pie1')?.pieChartData!"></app-pie-chart>
    </div>
    <div class="pie-content">
      <h1>Preturile actuale</h1>
      <app-pie-chart [pieChartData]="pieCharts.get('Pie2')?.pieChartData!"></app-pie-chart>
    </div>
    <div class="pie-content">
      <h1>Frecventa utilizarii</h1>
      <app-pie-chart [pieChartData]="pieCharts.get('Pie3')?.pieChartData!"></app-pie-chart>
    </div>
    
  </div>

  <div class="text">
    <p>Pe langa raspunsurile care au fost coplesitor de pozitive, ne-am intalnit cu reprezentatii a doua dintre cele mai mari ferme din Dobrogea si am discutat despre beneficiile aduse de o ferma de insecte in Romania.
      Acestia au fost incantati de aparitia pe piata a unei noi alegeri pentru furajele animalelor si au specificat ca ar fi dispusi sa faca si o eventuala investitie in ideea noastra.</p>
  </div>

  <div class="button">
    <button class="button btn btn-outline-secondary"><a class="nav-link" routerLink="/dovada" routerLinkActive="active" ariaCurrentWhenActive="page">Dovada</a></button>
  </div>
  <!-- <app-pie-chart [pieChartData]="pieCharts.get('Pie1')?.pieChartData!"></app-pie-chart> -->
</div>

<app-footer></app-footer>