<nav>
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="../assets/logo.png" alt="logo"></a>
  <ul>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><li>Acasa</li></a>
    <li><a routerLink="/motivatie" routerLinkActive="active" ariaCurrentWhenActive="page">Motivatie</a></li>
    <li><a routerLink="/insectus" routerLinkActive="active" ariaCurrentWhenActive="page">De ce Insectus?</a></li>
    <li><a routerLink="/analiza" routerLinkActive="active" ariaCurrentWhenActive="page">Analiza Ecom-Financiara</a></li>
    <li><a routerLink="/clienti" routerLinkActive="active" ariaCurrentWhenActive="page">Clientii Nostrii</a></li>
    <li><a routerLink="/planuri" routerLinkActive="active" ariaCurrentWhenActive="page">Planuri de viitor</a></li>
    <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

