

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 20px;
    background-color: #8EC3B0;
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    a{
        text-decoration: none;
        color: black;
    }
    li{
        list-style: none;
        padding: 10px 20px;   
    }
    img{
        width: 170px;
    }
}