

<div class="content">
    <div class="header" data-aos-duration="1500" data-aos = "fade-up"  data-aos-once="true">
        <h2>Cine suntem?</h2>
        <p>Suntem studenți ai Universității ,,Ovidius" din Constanța care doresc să propună o soluție cu uz în multiple domenii.</p>
    </div>

    <div class="echipa d-flex flex-column mt-5 align-items-center" >
        <div class="row justify-content-center" data-aos-duration="1500" data-aos = "fade-up">
            <app-card  imageSrc="../../../assets/mentor.png" name="Gurau Marian Andrei" description="S.L. dr. ing."></app-card>
            <app-card  imageSrc="../../../assets/mentor2.jpeg" name="Petrea Cristian" description="Director general Ing."></app-card>
        </div>
        <div class="row justify-content-center" data-aos-duration="1500" data-aos = "fade-up">
            <app-card  imageSrc="../../../assets/Andrei Panait.jpeg" name="Stefan Chitez" description="Student Facultatea de Stiinte Economice"></app-card>
            <app-card  imageSrc="../../../assets/Andrei Panait.jpeg" name="Panait Andrei" description="Student Facultatea de Matematica si Informatica"></app-card>
            <app-card  imageSrc="../../../assets/Alin.jpeg" name="Otetaru Alin-Daniel" description="Student Facultatea de Stiinte Economice Management"></app-card>
        </div>
        <div class="row justify-content-center" data-aos-duration="1500" data-aos = "fade-up" >
            <app-card  imageSrc="../../../assets/andreea.jpeg" name="Bordianu Andreea" description="Studenta Facultatea de Stiinte Economice"></app-card>
            <app-card  imageSrc="../../../assets/fane.png" name="Tufan Alexandru Stefan" description="Student Facultatea de Drept si Stiinte Administrative"></app-card>
            <app-card  imageSrc="../../../assets/elena.jpeg" name="Urse Elena" description="Studenta Facultatea de Drept si Stiinte Administrative"></app-card>     
        </div>
    </div>
</div>


<div class="d-flex flex-column align-items-center align">
    
    <div class="d-flex flex-column viziune mt-5" >
        <h2>Misiune si Viziune</h2>
        <p>Modelul nostru de afacere propune utilizarea insectelor ca soluții multifuncționale în industrii precum agricultură, farmaceutică, textilă. Uniunea Europeană a aprobat în anul 2016 introducerea consumului de insecte în dieta animalelor datorită avantajelor pe care le prezintă față de cereale și alte alimente, precum: costul scăzut de producere, economisirea de resurse (apă, căldură, spațiu), înmulțirea foarte rapidă și calitatea proteinelor din acestea. Aceste beneficii explică de ce două companii din Franța și Olanda au obținut finanțări de aproximativ 500 de milioane de euro.</p>
    </div>

    <div class="d-flex mt-5">
        <video class="rounded vid" autoPlay="" controls>
            <source src={video}/>
        </video>
    </div>

</div>

<app-footer></app-footer>