

<div class="content">
    <div class="header" data-aos-duration="1500" data-aos = "fade-up"  data-aos-once="true">
        <h2>Cine suntem?</h2>
        <p>Suntem studenți ai Universității ,,Ovidius" din Constanța care doresc să propună o soluție cu uz în multiple domenii.</p>
    </div>

    <div class="echipa d-flex flex-column mt-5 align-items-center" >
        <div class="row justify-content-center" data-aos-duration="1500" data-aos = "fade-up">
            <app-card  imageSrc="../../../assets/mentor.png" name="Gurau Marian Andrei" description="S.L. dr. ing."></app-card>
            <app-card  imageSrc="../../../assets/mentor2.jpeg" name="Petrea Cristian" description="Director general Ing."></app-card>
        </div>
        <div class="row justify-content-center" data-aos-duration="1500" data-aos = "fade-up">
            <app-card  imageSrc="../../../assets/Andrei Panait.jpeg" name="Stefan Ceva" description="Student Facultatea de Matematica si Informatica"></app-card>
            <app-card  imageSrc="../../../assets/Andrei Panait.jpeg" name="Panait Andrei" description="Student Facultatea de Matematica si Informatica"></app-card>
            <app-card  imageSrc="../../../assets/Alin.jpeg" name="Otetaru Alin-Daniel" description="Student Facultatea de Stiinte Economice Management"></app-card>
        </div>
        <div class="row justify-content-center" data-aos-duration="1500" data-aos = "fade-up" >
            <app-card  imageSrc="../../../assets/andreea.jpeg" name="Bordianu Andreea" description="Studenta Facultatea de Stiinte Economice"></app-card>
            <app-card  imageSrc="../../../assets/fane.png" name="Tufan Alexandru Stefan" description="Student Facultatea de Drept si Stiinte Administrative"></app-card>
            <app-card  imageSrc="../../../assets/elena.jpeg" name="Urse Elena" description="Studenta Facultatea de Drept si Stiinte Administrative"></app-card>     
        </div>
    </div>
</div>


<div class="d-flex flex-column align-items-center align">
    
    <div class="d-flex flex-column viziune mt-5" >
        <h2  >We are insectus!</h2>
        <p >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing</p>
    </div>

    <div class="d-flex mt-5">
        <video class="rounded vid" autoPlay="" controls>
            <source src={video}/>
        </video>
    </div>

</div>

